# Общие исключения
*.o
*.a
*.so
*.dll
*.lib
*.exe
*.obj
*.pdb
*.class
*.jar
*.war
*.ear

# Зависимости
node_modules/
packages/
bin/
obj/
.vscode/
.env

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Конфигурационные файлы (если содержат секреты)
*.config
appsettings.json
